# Filtering pandas DataFrames

In [1]:
import pandas as pd
brics = pd.read_csv('datasets/brics.csv', index_col=0)
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

### Select the area column
select contries with area over 8 million km2
- select the area column
- do comparison on area column
- use result to select the contries

In [2]:
# select the column as as a pandas Series
area_column = brics['area']
print(area_column)

BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

In [3]:
is_big_country = area_column > 8
print(is_big_country)

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [4]:
big_countries = brics[is_big_country]
print(big_countries)

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

ONE-LINE COMMAND

In [5]:
big_countries = brics[brics['area']>8]
print(big_countries)

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

Use logical operators, and, or, not

countries with area betweem 8 and 10

In [6]:
import numpy as np
some_countries = brics[np.logical_and(brics.area > 8, brics.area < 10)]
print(some_countries)

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0

# Filtering car Data

In [7]:
cars  = pd.read_csv('datasets/cars.csv', index_col = 0)
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

Let's start simple and try to find all observations in cars where drives_right is True.

In [8]:
print(cars[cars.drives_right])

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

Another way to do it

In [9]:
dr = cars['drives_right']
sel = cars[dr]

# Print sel
print(sel)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

find out which countries have a high cars per capita figure. In other words, in which countries do many people have a car, or maybe multiple cars. (Cars per capita > 500)

In [10]:
print(cars[cars.cars_per_cap > 500])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

selects the observations that have a cars_per_cap between 10 and 80.

In [11]:
cpc = cars.cars_per_cap
print(cars[np.logical_and(cpc > 100, cpc < 500)])

    cars_per_cap country  drives_right
RU           200  Russia          True

# loc & iloc

With loc and iloc you can do practically any data selection operation on DataFrames you can think of. loc is label-based, which means that you have to specify rows and columns based on their row and column labels. iloc is integer index based, so you have to specify rows and columns by their integer index

### loc

filtrado por nombres de columnas y row labels

In [12]:
# Import cars data
import pandas as pd

div_line = '\n' + '-'*20

print(cars, div_line)

# Print out observation for Japan
print(cars.loc['JAP'], div_line)

# Print out observations for Australia and Egypt
print(cars.loc[['AUS','EG']], div_line)

# Print out drives_right value of Morocco
print(cars.loc['MOR', 'drives_right'], div_line)

# Print sub-DataFrame
print(cars.loc[['RU', 'MOR'], ['country','drives_right']])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True
--------------------
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
--------------------
     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True
--------------------
True
--------------------
     country  drives_right
RU    Russia          True
MOR  Morocco          True

### iloc

filtrado por indice de filas y columnas

In [13]:
# Print out observation for Japan
print(cars.iloc[2], div_line)

# Print out observations for Australia and Egypt
print(cars.iloc[[1, 6]], div_line)

# Print out drives_right value of Morocco
print(cars.iloc[5, 2], div_line)

# Print sub-DataFrame
print(cars.iloc[[4, 5], [1,2]])

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
--------------------
     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True
--------------------
True
--------------------
     country  drives_right
RU    Russia          True
MOR  Morocco          True

## Agregar columnas y valores a un dataframe

#### con LOC
ineficiente con muchos datos

In [14]:
for label, row in cars.iterrows():
    cars.loc[label, 'nueva_columna'] = 'algun valor calculado'

print(cars)

     cars_per_cap        country  drives_right          nueva_columna
US            809  United States          True  algun valor calculado
AUS           731      Australia         False  algun valor calculado
JAP           588          Japan         False  algun valor calculado
IN             18          India         False  algun valor calculado
RU            200         Russia          True  algun valor calculado
MOR            70        Morocco          True  algun valor calculado
EG             45          Egypt          True  algun valor calculado

In [15]:
# Code for loop that adds COUNTRY column
for index, row in cars.iterrows():
    cars.loc[index, 'COUNTRY'] = row.country.upper()


# Print cars
print(cars)

     cars_per_cap        country  drives_right          nueva_columna  \
US            809  United States          True  algun valor calculado
AUS           731      Australia         False  algun valor calculado
JAP           588          Japan         False  algun valor calculado
IN             18          India         False  algun valor calculado
RU            200         Russia          True  algun valor calculado
MOR            70        Morocco          True  algun valor calculado
EG             45          Egypt          True  algun valor calculado

           COUNTRY
US   UNITED STATES
AUS      AUSTRALIA
JAP          JAPAN
IN           INDIA
RU          RUSSIA
MOR        MOROCCO
EG           EGYPT

#### Con una lista del tamaÃ±o del data frame

In [16]:
print(len(cars))
cars['otra columna'] = [0]*len(cars)
print(cars)

7
     cars_per_cap        country  drives_right          nueva_columna  \
US            809  United States          True  algun valor calculado
AUS           731      Australia         False  algun valor calculado
JAP           588          Japan         False  algun valor calculado
IN             18          India         False  algun valor calculado
RU            200         Russia          True  algun valor calculado
MOR            70        Morocco          True  algun valor calculado
EG             45          Egypt          True  algun valor calculado

           COUNTRY  otra columna
US   UNITED STATES             0
AUS      AUSTRALIA             0
JAP          JAPAN             0
IN           INDIA             0
RU          RUSSIA             0
MOR        MOROCCO             0
EG           EGYPT             0

### Usar APPLY
a una nueva columna se le asiga el valor de otra aplicandole una funcion pasada por parametro. sin parentesis

In [17]:
cars['name_size'] = cars.country.apply(len) # el length del valor de coujntry
print(cars)

     cars_per_cap        country  drives_right          nueva_columna  \
US            809  United States          True  algun valor calculado
AUS           731      Australia         False  algun valor calculado
JAP           588          Japan         False  algun valor calculado
IN             18          India         False  algun valor calculado
RU            200         Russia          True  algun valor calculado
MOR            70        Morocco          True  algun valor calculado
EG             45          Egypt          True  algun valor calculado

           COUNTRY  otra columna  name_size
US   UNITED STATES             0         13
AUS      AUSTRALIA             0          9
JAP          JAPAN             0          5
IN           INDIA             0          5
RU          RUSSIA             0          6
MOR        MOROCCO             0          7
EG           EGYPT             0          5

In [18]:
# Use .apply(str.upper)
cars['NUEVA'] = cars['nueva_columna'].apply(str.upper)

print(cars)

     cars_per_cap        country  drives_right          nueva_columna  \
US            809  United States          True  algun valor calculado
AUS           731      Australia         False  algun valor calculado
JAP           588          Japan         False  algun valor calculado
IN             18          India         False  algun valor calculado
RU            200         Russia          True  algun valor calculado
MOR            70        Morocco          True  algun valor calculado
EG             45          Egypt          True  algun valor calculado

           COUNTRY  otra columna  name_size                  NUEVA
US   UNITED STATES             0         13  ALGUN VALOR CALCULADO
AUS      AUSTRALIA             0          9  ALGUN VALOR CALCULADO
JAP          JAPAN             0          5  ALGUN VALOR CALCULADO
IN           INDIA             0          5  ALGUN VALOR CALCULADO
RU          RUSSIA             0          6  ALGUN VALOR CALCULADO
MOR        MOROCCO             0          7  ALGUN VALOR CALCULADO
EG           EGYPT             0          5  ALGUN VALOR CALCULADO