# Summary Statistics

numbers that sumarice and tell you about the dataset

`data_frame_name['columna_interes].` segido de uno de los siguientes metodos

`.mean()`: promedio

`.median()`: mediana

`.mode()`: moda

`.min()`

`.max()`

`.var()`: varianza

`.std()`: variacion estandar

`.sum()`: suma de los valores de esa columna

`.quantile()`: calcular quantiles

## fechas

si una columna contiene fechas en el formato 'año-mes-dia' asi AAAA-MM-DD, datatype `datetime64`

tambien se le puede aplicar funciones estadisticas como

`.min()`

`.max()`

## .agg() method

sirve para calcular custom summary estatistics

In [2]:
import pandas as pd

frame_soccer = pd.read_csv('datasets/soccer.csv', index_col=0)

def pct30(column:pd.Series):
    return column.quantile(0.3)

frame_soccer['height'].agg(pct30)

178.0

### .agg() para multiples columnas

In [3]:

frame_soccer[['height', 'rating']].agg(pct30)

height    178.0
rating     63.0
dtype: float64

### .agg() para multiples funciones summary

se pasa una LISTA de funciones como parametro a `.agg(  )`

In [4]:
def pct40(column:pd.Series):
    return column.quantile(0.4)

frame_soccer['height'].agg([pct30, pct40])

pct30    178.0
pct40    180.0
Name: height, dtype: float64

### multiples funcionesy multiples columnas

In [5]:
import numpy as np
frame_soccer[['height', 'rating']].agg([pct30, pct40, np.mean])

           height     rating
pct30  178.000000  63.000000
pct40  180.000000  64.000000
mean   181.750424  66.680457

### Cumulatives statistics methods

genera un acolumna calculando dichos valor con solo las filas recorridas hasta esa fila

In [6]:
frame_soccer['rating'].cumsum()

id
1001          69
100143       134
100264       191
100325       254
100326       326
           ...
9801      589641
9805      589720
9807      589788
9815      589853
9913      589922
Name: rating, Length: 8847, dtype: int64

`columna.cumsum()` : suma acumulada

`columna.cummin()` : minimo entre las columnas anteriores incluyendo la actual

`columna.cummax()` : maximo entre las columnas anteriores incluyendo la actual

`columna.cumprod()`:producto acumulado

# Counting

## Drop duplicates 

remover filas que contienen entradas repetidas en una columna

In [7]:
frame_soccer.drop_duplicates # por si solo remueve filas repetidas, con todos sus atrubutos iguales

heigths = frame_soccer.drop_duplicates(subset='height')['height']
print(heigths.sort_values(ascending=True))

id
171126    158
116024    160
170719    161
110375    162
156331    163
140140    164
140415    165
130216    166
111091    167
100806    168
113524    169
100330    170
103496    171
102021    172
100580    173
102081    174
100743    175
104047    176
101225    177
100889    178
100391    179
100325    180
100326    181
101590    182
100521    183
100143    184
100264    185
100522    186
100329    187
100585    188
101344    189
100807    190
1001      191
104100    192
100745    193
10780     194
107713    195
101411    196
120718    197
142422    198
137956    199
12139     200
172203    201
137130    202
192613    203
185306    208
Name: height, dtype: int64

tambien se pueden considerar multiples columnas para el metodo `drop_duplicates` si dos o más filas tienen los mismos valores para una sub lista de columnas pasadas como parametro a este metodo, solo una fila sera conservada

In [8]:
frame_soccer.drop_duplicates(subset=['rating', 'position'])

,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
id,,,,,,,,,,,,,,,,,,
1001,Gábor Király,69,GK,191,Right,0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,66.0,63.0,74.0,35.0,66.0
100143,Frederik Boi,65,M,184,Right,0,61.0,0.65,63.0,59.0,62.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN
100264,Tomasz Szewczuk,57,A,185,Right,0,65.0,0.54,43.0,53.0,55.0,74.0,NaN,NaN,NaN,NaN,NaN,NaN
100325,Steeve Joseph-Reinette,63,D,180,Left,0,68.0,0.38,51.0,46.0,64.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN
100326,Kamel Chafni,72,M,181,Right,0,75.0,0.64,67.0,72.0,57.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20801,Cristiano Ronaldo,92,A,186,Right,1,92.0,0.90,79.0,93.0,59.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN
41,Iniesta,91,M,170,Right,1,78.0,0.72,90.0,91.0,65.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN
54050,Wayne Rooney,90,A,177,Right,1,83.0,0.88,79.0,84.0,71.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN
5479,Casillas,89,GK,182,Left,1,NaN,NaN,NaN,NaN,NaN,NaN,91.0,83.0,69.0,93.0,69.0,87.0
9014,Arjen Robben,90,M,181,Left,1,93.0,0.85,81.0,93.0,53.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN

# Count

para contar el numero de entradas que tienen un valor de una columna especifico se extrae la columna, como un Pandas Series, y se llama al metodo `.value_counts()`. a este metodo tambien se le puede decir que ordene `(sort_True)`

contemos cuantos jugadores hay por cada posicion en la base de datos

In [9]:
print(frame_soccer['position'].value_counts(sort=True))

M     3041
D     2794
A     2082
GK     930
Name: position, dtype: int64

# Proportions

al usar el metodo `.value_counts()` se puede hacer el conteo por proporciones del total en lugar de numero de registrosm, esto se hace al pasar como parametro `(normalize=True)`

In [10]:
positions_proportion = frame_soccer['position'].value_counts(sort=True, ascending=False,  normalize=True)
print(positions_proportion, '\n')# Pandas Series

positions_data = pd.DataFrame(positions_proportion)
positions_data['percentage'] = positions_data['position']*100
print(positions_data) # Pandas DataFrame

M     0.343732
D     0.315813
A     0.235334
GK    0.105120
Name: position, dtype: float64

    position  percentage
M   0.343732   34.373234
D   0.315813   31.581327
A   0.235334   23.533401
GK  0.105120   10.512038

# Gruopued Summary Statistics


tratemos de calcular la estatura promedio por cada Posicion de jugador

primero veamos que tipos de posiciones diferentes hay:

In [11]:
frame_soccer.drop_duplicates(subset='position')['position']

id
1001      GK
100143     M
100264     A
100325     D
Name: position, dtype: object

Ahora calculamos la esatura promedio entre los jugadores de cada posicion

In [12]:
print(frame_soccer[frame_soccer['position'] == 'GK']['height'].mean())
print(frame_soccer[frame_soccer['position'] == 'M']['height'].mean())
print(frame_soccer[frame_soccer['position'] == 'A']['height'].mean())
print(frame_soccer[frame_soccer['position'] == 'D']['height'].mean())

188.23333333333332
179.0417625780993
180.93852065321806
183.14566929133858

## GroupBy 
la anterior tarea se puede simplificar usando el metodo groupby de un dataframe. esto reduce las lineas de codigo y tambien da un output con nombres de valores agrupados y asi sabemos que valor corresponde a que

In [27]:
frame_soccer.groupby('position')['height'].mean()

position
A     180.938521
D     183.145669
GK    188.233333
M     179.041763
Name: height, dtype: float64

## Multiple Gruped Summaries

una vez agrupadas las estradas por un valor de una columna especifica se pueden calcular multiples atributos estadisticos usando `.agg([lista de funciones])`

In [14]:
frame_soccer.groupby('position')['height'].agg([min, max, sum, pd.DataFrame.mean])

          min  max     sum        mean
position
A         160  203  376714  180.938521
D         162  200  511709  183.145669
GK        173  208  175057  188.233333
M         158  196  544466  179.041763

## Agrupar por multiples columnas

In [15]:
# esto tambien es valido pero el output no sale en formato de tabla
#frame_soccer.groupby(['position', 'foot'])['height'].mean()
frame_soccer.groupby(['position', 'foot'])['height'].agg([pd.DataFrame.mean])

                      mean
position foot
A        Left   180.345109
         Right  181.065928
D        Left   182.050273
         Right  183.679085
GK       Left   188.061224
         Right  188.253606
M        Left   178.738636
         Right  179.133077

## Agregate por multiples columnas

In [16]:
frame_soccer.groupby(['position', 'foot'])['height', 'rating'].agg([pd.DataFrame.mean])

/tmp/ipykernel_254/163275194.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  frame_soccer.groupby(['position', 'foot'])['height', 'rating'].agg([pd.DataFrame.mean])

                    height     rating
                      mean       mean
position foot
A        Left   180.345109  67.758152
         Right  181.065928  67.154026
D        Left   182.050273  65.931148
         Right  183.679085  66.121341
GK       Left   188.061224  68.102041
         Right  188.253606  65.661058
M        Left   178.738636  67.778409
         Right  179.133077  66.878905

## Agrupar por multiples columnas y Agregate por multiples funciones

In [17]:
frame_soccer.groupby(['position', 'foot'])['height'].agg([max, min])

                max  min
position foot
A        Left   203  162
         Right  202  160
D        Left   200  162
         Right  200  165
GK       Left   198  176
         Right  208  173
M        Left   196  160
         Right  196  158

# Pivot Tables

son otra forma de calcular grouped summary statistics, por default este calcula el promedio de los valores

In [18]:
# frame_soccer.groupby('position')['height'].mean()
# tambien se puede lograr con:
frame_soccer.pivot_table(values='height', index='position')

              height
position
A         180.938521
D         183.145669
GK        188.233333
M         179.041763

si se requiere otra funcion aparte de promedio se asigna un valor al parametro `aggfunc`

In [19]:
frame_soccer.pivot_table(values='height', index='position', aggfunc=np.median)

          height
position
A            181
D            183
GK           188
M            179

usando pivot tables se puede Agrupar por multiples columnas, hacer agregados sobre multiples columnas (columnas de calculo) con multiples funciones

In [20]:
frame_soccer.pivot_table(values=['height', 'rating'], index='position', aggfunc=[np.mean, np.min, np.max])

                mean              amin          amax
              height     rating height rating height rating
position
A         180.938521  67.260807    160     41    203     94
D         183.145669  66.059055    162     42    200     89
GK        188.233333  65.918280    173     40    208     89
M         179.041763  67.087142    158     41    196     92

## Pivot en dos variables

 The first argument is the column name containing values to aggregate. The index argument lists the columns to group by and display in rows, and the columns argument lists the columns to group by and display in columns

para agrupacion con multiples columnas

In [21]:
frame_soccer.pivot_table(values='height', index='position', columns='foot', aggfunc=np.mean)

foot            Left       Right
position
A         180.345109  181.065928
D         182.050273  183.679085
GK        188.061224  188.253606
M         178.738636  179.133077

# Filling Missing Values
donde haya un valo numerico, se puede agregar un valor por defecto

fill_value replaces missing values with a real value (known as imputation)

In [22]:
frame_soccer.pivot_table(values='shooting', index='position', columns='rating', fill_value=0)

rating,41,42,43,45,46,47,48,49,50,51,...,84,85,86,87,88,89,90,91,92,94
position,,,,,,,,,,,,,,,,,,,,,
A,0.38,0.00,0.000,0.00,0.42,0.490,0.440000,0.430,0.455000,0.49500,...,0.803333,0.79750,0.827778,0.000000,0.870,0.00,0.88,0.00,0.90,0.87
D,0.00,0.21,0.000,0.36,0.29,0.300,0.213333,0.295,0.336923,0.32800,...,0.557500,0.56125,0.573333,0.573333,0.520,0.44,0.00,0.00,0.00,0.00
M,0.38,0.00,0.445,0.35,0.36,0.376,0.382000,0.385,0.465714,0.45125,...,0.772727,0.75500,0.740000,0.844000,0.785,0.00,0.85,0.72,0.72,0.00

# Sumando con Pivot Tables

si se agregaa el atributo margins = True se agrega una fila y una columna con la el calculo de las entradas en esa fila/columna

In [23]:
frame_soccer.pivot_table(values='height', index='position', columns='foot', aggfunc=np.mean, margins=True)

foot            Left       Right         All
position
A         180.345109  181.065928  180.938521
D         182.050273  183.679085  183.145669
GK        188.061224  188.253606  188.233333
M         178.738636  179.133077  179.041763
All       180.913669  182.008429  181.750424

# Working with pivot tables: Calculations 

volvamos a trabajar con el dataframe tipo tabla pivot agrupando en las columnas los tipos de piernas diestras, en las filas agrupando por posicion, y el calculo de cada grupo es el promedio de altura

In [24]:
mean_height_grouped_by_position_foot = frame_soccer.pivot_table(values='height', index='position', columns='foot', aggfunc=np.mean)
print(mean_height_grouped_by_position_foot)

foot            Left       Right
position
A         180.345109  181.065928
D         182.050273  183.679085
GK        188.061224  188.253606
M         178.738636  179.133077

se puede hacer slicing de filas y columnas con .loc y .iloc pero tambien se pueden hacer calculos sobre las filas y las columnas de una pivot table usando para ello el atributo `axis` de las funciones de calculos estadisticos

 The default value is "index," which means "calculate the statistic across rows |||"

In [25]:
mean_height_grouped_by_position_foot.mean(axis='index')

foot
Left     182.298811
Right    183.032924
dtype: float64

To calculate a summary statistic for each row, that is, "across the columns _==" you set axis to "columns.

In [26]:
mean_height_grouped_by_position_foot.mean(axis='columns')

position
A     180.705518
D     182.864679
GK    188.157415
M     178.935856
dtype: float64