# 1. Intro to DataFrames

Pandas se vale del uso de numpy y matplotlib, Los Dataframes son el core de pandas junto con Series

Un DataFrame se usa para almacenar informacion rectangular: Filas y columnas. Como lo haria una tabla de una base de datos relacional. Cada Columna puede contener un tipo de dato diferente

- para ver las columnas y las primeras filas del DataFrame se usa el metodo `.head(#_first_rows)`

- para ver la informacion de las columnas, sus nombres y numero de missing values se usa `.info()`

- si se quiere saber el numero de filas y de columnas se llama el atributo `.shape` que retorna una tupla en la forma `(#rows, #columns)`

- Para ver iformacion estadistica basica sobre las columnas numericas se usa `.describe()`

In [16]:
import pandas as pd

frame_soccer = pd.read_csv('datasets/soccer.csv', index_col=0)
frame_soccer.head()

,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
id,,,,,,,,,,,,,,,,,,
1001,Gábor Király,69,GK,191,Right,0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,66.0,63.0,74.0,35.0,66.0
100143,Frederik Boi,65,M,184,Right,0,61.0,0.65,63.0,59.0,62.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN
100264,Tomasz Szewczuk,57,A,185,Right,0,65.0,0.54,43.0,53.0,55.0,74.0,NaN,NaN,NaN,NaN,NaN,NaN
100325,Steeve Joseph-Reinette,63,D,180,Left,0,68.0,0.38,51.0,46.0,64.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN
100326,Kamel Chafni,72,M,181,Right,0,75.0,0.64,67.0,72.0,57.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
print(frame_soccer.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8847 entries, 1001 to 9913
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         8847 non-null   object
 1   rating       8847 non-null   int64
 2   position     8847 non-null   object
 3   height       8847 non-null   int64
 4   foot         8847 non-null   object
 5   rare         8847 non-null   int64
 6   pace         7917 non-null   float64
 7   shooting     7917 non-null   float64
 8   passing      7917 non-null   float64
 9   dribbling    7917 non-null   float64
 10  defending    7917 non-null   float64
 11  heading      7917 non-null   float64
 12  diving       930 non-null    float64
 13  handling     930 non-null    float64
 14  kicking      930 non-null    float64
 15  reflexes     930 non-null    float64
 16  speed        930 non-null    float64
 17  positioning  930 non-null    float64
dtypes: float64(12), int64(3), object(3)
memory usage: 1.3+ MB
None

In [13]:
frame_soccer.shape

(8847, 18)

In [12]:
frame_soccer.describe()

,rating,height,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
count,8847.000000,8847.000000,8847.000000,7917.000000,7917.000000,7917.000000,7917.000000,7917.000000,7917.000000,930.000000,930.000000,930.000000,930.000000,930.000000,930.000000
mean,66.680457,181.750424,0.353114,67.934066,0.550544,58.845522,61.193887,60.339523,63.743337,67.351613,64.739785,63.067742,68.865591,48.212903,64.955914
std,7.146679,6.454356,0.477965,11.169316,0.131361,10.962049,12.255261,10.622997,8.982680,8.311224,8.073867,8.653150,8.546599,10.330171,8.854231
min,40.000000,158.000000,0.000000,24.000000,0.120000,13.000000,19.000000,26.000000,22.000000,30.000000,39.000000,30.000000,32.000000,14.000000,37.000000
25%,62.000000,178.000000,0.000000,62.000000,0.470000,52.000000,54.000000,52.000000,58.000000,62.000000,60.000000,57.000000,63.000000,42.000000,59.000000
50%,66.000000,182.000000,0.000000,69.000000,0.570000,60.000000,63.000000,61.000000,64.000000,67.000000,65.000000,63.000000,69.000000,50.000000,65.000000
75%,72.000000,186.000000,1.000000,75.000000,0.650000,66.000000,70.000000,68.000000,70.000000,73.000000,70.000000,69.000000,74.000000,56.000000,71.000000
max,94.000000,208.000000,1.000000,96.000000,0.900000,92.000000,97.000000,89.000000,91.000000,91.000000,86.000000,94.000000,93.000000,73.000000,91.000000

# Componentes de DataFrame

- The values attribute `.values`, as you might expect, contains the data values in a 2-dimensional NumPy array. SIn la fila de los nombres de columnas

- The columns attribute `.columns` contains column names into a index object, 
- the index attribute `.index` contains row numbers or row names as an index object

In [19]:
frame_soccer.values

array([['Gábor Király', 69, 'GK', ..., 74.0, 35.0, 66.0],
       ['Frederik Boi', 65, 'M', ..., nan, nan, nan],
       ['Tomasz Szewczuk', 57, 'A', ..., nan, nan, nan],
       ...,
       ['Michel Breuer', 68, 'D', ..., nan, nan, nan],
       ['Gill Swerts', 65, 'D', ..., nan, nan, nan],
       ['Mehdi Nafti', 69, 'M', ..., nan, nan, nan]], dtype=object)

In [18]:
frame_soccer.columns

Index(['name', 'rating', 'position', 'height', 'foot', 'rare', 'pace',
       'shooting', 'passing', 'dribbling', 'defending', 'heading', 'diving',
       'handling', 'kicking', 'reflexes', 'speed', 'positioning'],
      dtype='object')

In [17]:
frame_soccer.index

Int64Index([  1001, 100143, 100264, 100325, 100326, 100329, 100330, 100391,
            100521, 100522,
            ...
              9722,   9723,   9751,   9771,   9799,   9801,   9805,   9807,
              9815,   9913],
           dtype='int64', name='id', length=8847)

# Sorting & Subsetting

- ### Ordenar por una Columna

se usa el siguiente formato: `data_frame.sort_values('columna_de_ordenamiento', ascending=False)`

`ascending` por defecto esta en `True`, lo cual muestra de menor a mayor, para ver el ordenamiento de mayor a menor se usa `ascending=False`

In [47]:
frame_soccer.sort_values('rating', ascending=False).head()

,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
id,,,,,,,,,,,,,,,,,,
158023,Lionel Messi,94,A,169,Left,1,93.0,0.87,82.0,97.0,46.0,67.0,NaN,NaN,NaN,NaN,NaN,NaN
10535,Xavi,92,M,170,Right,1,67.0,0.72,92.0,85.0,68.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN
20801,Cristiano Ronaldo,92,A,186,Right,1,92.0,0.90,79.0,93.0,59.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN
41,Iniesta,91,M,170,Right,1,78.0,0.72,90.0,91.0,65.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN
9014,Arjen Robben,90,M,181,Left,1,93.0,0.85,81.0,93.0,53.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN

- ### Ordenar por multiples columnas

esta vez, en lugar de uno, al primer argumento del metodo `sort_values(...)` se le pasa una lista de nombres de columnas a ordenar por.

In [30]:
frame_soccer.sort_values(['height','rating'], ascending=[False, True]).head(10)

,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
id,,,,,,,,,,,,,,,,,,
185306,Kristof Van Hout,65,GK,208,Right,0,NaN,NaN,NaN,NaN,NaN,NaN,64.0,66.0,65.0,64.0,35.0,66.0
192613,Costel Pantilimon,71,GK,203,Right,0,NaN,NaN,NaN,NaN,NaN,NaN,68.0,68.0,70.0,74.0,48.0,75.0
199074,Lacina Traoré,74,A,203,Left,1,70.0,0.67,41.0,63.0,63.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN
137130,Paolo Acerbis,64,GK,202,Right,1,NaN,NaN,NaN,NaN,NaN,NaN,61.0,62.0,55.0,68.0,50.0,66.0
178389,Pietro Marino,64,GK,202,Right,1,NaN,NaN,NaN,NaN,NaN,NaN,64.0,62.0,58.0,65.0,56.0,64.0
188920,Wojciech Kaczmarek,64,GK,202,Right,1,NaN,NaN,NaN,NaN,NaN,NaN,70.0,54.0,61.0,78.0,42.0,58.0
179549,Stefan Maierhofer,69,A,202,Right,1,42.0,0.67,43.0,56.0,63.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN
167515,Nikola Žigić,75,A,202,Right,1,64.0,0.69,68.0,64.0,63.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN
189967,Bogdan Milić,64,A,201,Left,1,60.0,0.57,54.0,59.0,59.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN
172203,Fraser Forster,72,GK,201,Right,1,NaN,NaN,NaN,NaN,NaN,NaN,71.0,73.0,64.0,77.0,41.0,73.0

- ### Selecionando solo una Columna

despues del nombre, entre parentesis cuadrados simples ponenemos entre comillas el nombre de la columna a seleccionar. take a look at the type of this output

In [31]:
frame_soccer['name']

id
1001                Gábor Király
100143              Frederik Boi
100264           Tomasz Szewczuk
100325    Steeve Joseph-Reinette
100326              Kamel Chafni
                   ...
9801             Danijel Ljuboja
9805               Craig Bellamy
9807               Michel Breuer
9815                 Gill Swerts
9913                 Mehdi Nafti
Name: name, Length: 8847, dtype: object

In [35]:
type(frame_soccer['name'])

pandas.core.series.Series

se puede lograr lo mismo pero manteniendo el tipo de dato: DataFrame, al usar brackets dobles

In [34]:
frame_soccer[['name']]

                          name
id
1001              Gábor Király
100143            Frederik Boi
100264         Tomasz Szewczuk
100325  Steeve Joseph-Reinette
100326            Kamel Chafni
...                        ...
9801           Danijel Ljuboja
9805             Craig Bellamy
9807             Michel Breuer
9815               Gill Swerts
9913               Mehdi Nafti

[8847 rows x 1 columns]

In [36]:
type(frame_soccer[['name']])

pandas.core.frame.DataFrame

## Seleccionar multiples columnas

In [37]:
frame_soccer[['name', 'height']]

                          name  height
id
1001              Gábor Király     191
100143            Frederik Boi     184
100264         Tomasz Szewczuk     185
100325  Steeve Joseph-Reinette     180
100326            Kamel Chafni     181
...                        ...     ...
9801           Danijel Ljuboja     189
9805             Craig Bellamy     175
9807             Michel Breuer     183
9815               Gill Swerts     179
9913               Mehdi Nafti     179

[8847 rows x 2 columns]

- ### Seleccionando Filas por una condición

In [43]:
frame_soccer[ frame_soccer['height'] < 160 ]

,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
id,,,,,,,,,,,,,,,,,,
171126,Quero,63,M,158,Right,1,87.0,0.56,52.0,66.0,33.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN

- ### Seleccionando filas basados en texto

In [44]:
frame_soccer[ frame_soccer['position'] == 'GK']

,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
id,,,,,,,,,,,,,,,,,,
1001,Gábor Király,69,GK,191,Right,0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,66.0,63.0,74.0,35.0,66.0
100745,Paul Smith,64,GK,193,Right,1,NaN,NaN,NaN,NaN,NaN,NaN,65.0,62.0,55.0,67.0,41.0,62.0
100807,Stefanos Kotsolis,65,GK,190,Right,0,NaN,NaN,NaN,NaN,NaN,NaN,62.0,68.0,62.0,65.0,60.0,64.0
100899,Steve Phillips,61,GK,185,Right,1,NaN,NaN,NaN,NaN,NaN,NaN,46.0,65.0,76.0,71.0,31.0,61.0
101282,Oka Nikolov,70,GK,188,Right,0,NaN,NaN,NaN,NaN,NaN,NaN,72.0,64.0,59.0,73.0,61.0,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
806,Mathias Schober,69,GK,191,Left,0,NaN,NaN,NaN,NaN,NaN,NaN,71.0,73.0,64.0,68.0,47.0,70.0
8247,Palop,77,GK,184,Right,0,NaN,NaN,NaN,NaN,NaN,NaN,78.0,79.0,79.0,71.0,54.0,81.0
8910,Carlo Nash,63,GK,182,Right,1,NaN,NaN,NaN,NaN,NaN,NaN,60.0,66.0,60.0,63.0,45.0,64.0
899,Frank Rost,74,GK,194,Right,1,NaN,NaN,NaN,NaN,NaN,NaN,72.0,74.0,70.0,75.0,32.0,80.0
9751,Gábor Babos,71,GK,196,Right,1,NaN,NaN,NaN,NaN,NaN,NaN,70.0,70.0,60.0,70.0,29.0,75.0

### Seleccionando filas por multiples condiciones

se usa `&` para el AND logico

In [45]:
is_goal_keeper = frame_soccer['position'] == 'GK'
is_very_tall = frame_soccer['height'] > 199 
frame_soccer[is_goal_keeper & is_very_tall]

,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
id,,,,,,,,,,,,,,,,,,
137130,Paolo Acerbis,64,GK,202,Right,1,NaN,NaN,NaN,NaN,NaN,NaN,61.0,62.0,55.0,68.0,50.0,66.0
172203,Fraser Forster,72,GK,201,Right,1,NaN,NaN,NaN,NaN,NaN,NaN,71.0,73.0,64.0,77.0,41.0,73.0
178389,Pietro Marino,64,GK,202,Right,1,NaN,NaN,NaN,NaN,NaN,NaN,64.0,62.0,58.0,65.0,56.0,64.0
185306,Kristof Van Hout,65,GK,208,Right,0,NaN,NaN,NaN,NaN,NaN,NaN,64.0,66.0,65.0,64.0,35.0,66.0
188920,Wojciech Kaczmarek,64,GK,202,Right,1,NaN,NaN,NaN,NaN,NaN,NaN,70.0,54.0,61.0,78.0,42.0,58.0
192613,Costel Pantilimon,71,GK,203,Right,0,NaN,NaN,NaN,NaN,NaN,NaN,68.0,68.0,70.0,74.0,48.0,75.0

## .isin() Method

en lugar de usar el OR logico `|` y si se quiere filtrar por multiples valores de una varibale categorica se usa isin() method con el siguiente formato

`sub_set = data_frame['categotical_column'].isin(['value1', ... ,'valueN'])`
_______

`colors = ["brown", "black", "tan"]`

`condition = dogs["color"].isin(colors)`

`dogs[condition]`

por ejemplo queremos todos los jugadores que sean arqueros `GK` OR mediocampistas `M`

In [46]:
arqueros_medios = frame_soccer['position'].isin(['GK', 'M'])
frame_soccer[arqueros_medios]

,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
id,,,,,,,,,,,,,,,,,,
1001,Gábor Király,69,GK,191,Right,0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,66.0,63.0,74.0,35.0,66.0
100143,Frederik Boi,65,M,184,Right,0,61.0,0.65,63.0,59.0,62.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN
100326,Kamel Chafni,72,M,181,Right,0,75.0,0.64,67.0,72.0,57.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN
100330,José Saez,67,M,170,Right,0,53.0,0.60,65.0,61.0,64.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN
100391,Laurent Delorge,67,M,179,Right,0,76.0,0.58,67.0,64.0,63.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9722,Nicolai Stokholm,67,M,182,Right,0,59.0,0.67,71.0,56.0,70.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN
9723,Camel Meriem,71,M,174,Right,0,58.0,0.65,69.0,75.0,45.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN
9751,Gábor Babos,71,GK,196,Right,1,NaN,NaN,NaN,NaN,NaN,NaN,70.0,70.0,60.0,70.0,29.0,75.0
9771,Orlando Engelaar,73,M,196,Left,1,38.0,0.71,71.0,65.0,75.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN
9913,Mehdi Nafti,69,M,179,Right,0,55.0,0.56,64.0,65.0,69.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN

# Nuevas columnas

se puede añadir una nueva columna que contenga datos calculados a partir de otras variables en la misma fila

por ejemplo queremos guardar la estatura de los jugadores de futbol en metros y tambien conservar la de estatura en centimetros

In [50]:
frame_soccer['height_meters'] = frame_soccer['height']/100
frame_soccer[['name', 'height', 'height_meters']]

                          name  height  height_meters
id
1001              Gábor Király     191           1.91
100143            Frederik Boi     184           1.84
100264         Tomasz Szewczuk     185           1.85
100325  Steeve Joseph-Reinette     180           1.80
100326            Kamel Chafni     181           1.81
...                        ...     ...            ...
9801           Danijel Ljuboja     189           1.89
9805             Craig Bellamy     175           1.75
9807             Michel Breuer     183           1.83
9815               Gill Swerts     179           1.79
9913               Mehdi Nafti     179           1.79

[8847 rows x 3 columns]